.btn {
    margin: 0px;
    opacity: 50%;
    padding: 0.25em;
    width: 7vw !important;
    min-width: 20px !important;
}
canvas {
    // margin-bottom: 1.5em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}
.container-fluid{
    margin:0px;
}
.card{
    padding: 0px !important;
    margin: 0px !important;
}
.dayview{
    flex-grow: 1;
    flex-basis: 0px;
}