<div class="expandH expandW" (window:resize)="onResize($event)" #schedule >
    <div class="expandH expandW d-flex flex-row justify-content-between" id="schedule" >
        <button class="expandH btn btn-dark text-light" (click)="minus()"><</button>
        <div class="dayview expandH d-flex flex-column align-items-center" *ngFor="let day of getDays(); index as i">
            <p>{{day}}</p>
            <div class="dayview">
                <canvas class="expandH expandW" #canvas></canvas>
            </div>
        </div>
        <button class="expandH btn btn-dark text-light" (click)="add()">></button>
    </div>
</div>