footer{
    height: 5vh;
    // bottom: 100vh;
    // left: 0px;
    // right: 100vw;
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin:0px;
    padding: 0px;
}
* {
    margin: 0px;
}