<div class="card expandW">
    <h1>{{category.name}}</h1>
    <p> display some stuff about the category.</p>
    <p>if student, show the assignments in order. showing button to edit (existing submission) or submit (new submission)</p>
    <p>if teacher, show submissions that can be seen for each assignment as drop down (like in the dashboard). when collapsed, just show counts for current cohort, (submitted, needs grading, missing)</p>
    <p>if admin, show options to delete/save an assignment from the category, as well as create a new assignment in the category. New assignments affect every student</p>

</div>