label {
    font-size: large;
    padding-right: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.roundout {
    padding-left: 2em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
}

a {
    font-style: normal;
}