.form-field-adjust{
    padding-bottom: 1.34375em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    max-width: min-content;
    min-width: min-content;
    width: min-content;
}
button{
    height: 100%;
}
.container-fluid{
 padding: 1em;
}

$red: 255;
$green: 190;
$blue: 240;

.card {
    background-color: rgba($red/4,$green/4,$blue/4,0.8) !important;
    padding: 1em;
    border-style: solid;
    border-width: 3px;
}