::ng-deep.mat-select-value {
    color: white !important;
}
::ng-deep.mat-select-arrow{
    color: white !important;
}

/* Border */
::ng-deep.mat-form-field-outline{
    color:white !important;
}

.link-hover {
    padding-left: 0.5em;
}
.link-hover:hover{
    background-color: rgba($color: #FFFFFF, $alpha: 0.2);
    border-radius: 1em;
    color: rebeccapurple;
}