<!-- <p>home works!</p> -->
<div id="content" class="container-fluid bg-dark text-light">
    <div class="row expandH" style="position: relative;">
        <div [ngClass]="getClasses()" class="text-light">
            <ng-container *ngIf="!expanded()" >
                <button id="menubutton"[matMenuTriggerFor]="menu" class="btn btn-dark text-light expandW">
                    Cohort: 216 - {{currentContent}}
                </button>
                <mat-menu id="navigation-menu" #menu="matMenu" class="text-light bg-dark">
                    <app-cohort-navigator></app-cohort-navigator>
                </mat-menu>
            </ng-container>
            <ng-container *ngIf="expanded()">
                <app-cohort-navigator></app-cohort-navigator>
            </ng-container>
        </div>
        <div id="subcontent" class="col text-light flex-grow-1">
            <div id="spacer" *ngIf="!expanded()"></div>
            <ng-template #mainContent></ng-template>
        </div>
    </div>
</div>
