<!-- <p>home works!</p> -->
<div id="content" class="container-fluid bg-dark text-light">
    <div class="row expandH" style="position: relative;">
        <div [ngClass]="getClasses()" class="text-light bg-transparent">
            <ng-container *ngIf="!expanded()" >
                <button mat-icon-button [matMenuTriggerFor]="menu" class="btn btn-dark">
                    Cohort: 216 - {{currentContent}}
                </button>
                <mat-menu #menu="matMenu" class="text-light bg-dark">
                    <app-cohort-navigator></app-cohort-navigator>
                </mat-menu>
            </ng-container>
            <ng-container *ngIf="expanded()">
                <app-cohort-navigator></app-cohort-navigator>
            </ng-container>
        </div>
        <div class="col bg-success text-light flex-grow-1">

        </div>
    </div>
</div>
